<mat-tab-group color="primary" backgroundColor="primary" *ngIf="portalType === 'admin'">
    <mat-tab label="Users">
        <app-user-tab></app-user-tab>
    </mat-tab>
    <mat-tab label="Settings">
        <app-settings></app-settings>
    </mat-tab>
</mat-tab-group>

<mat-tab-group color="primary" backgroundColor="primary" *ngIf="portalType === 'manager'">
    <mat-tab label="Dashboard">
        Dashboard
    </mat-tab>
    <mat-tab label="Projects">
        <app-project-tab></app-project-tab>
    </mat-tab>
    <mat-tab label="Users">
        <app-users-tab></app-users-tab>
    </mat-tab>
    <mat-tab label="Vacations">
        <app-vacations-tab></app-vacations-tab>
    </mat-tab>
</mat-tab-group>

<mat-tab-group color="primary" backgroundColor="primary" *ngIf="portalType === 'user'" selectedIndex="2">
    <mat-tab label="Projects">
        <app-projects></app-projects>
    </mat-tab>
    <mat-tab label="Vacation">
        <app-vacations></app-vacations>
    </mat-tab>
    <mat-tab label="Report">
        <app-report></app-report>
    </mat-tab>
</mat-tab-group>
