<div class="row flex-column vw-100 vh-100 justify-content-around">
    <div class="offset-4 col-4">
        <div class="mat-title">Select portal:</div>
        <button class="full-width mb-3" mat-raised-button color="primary" (click)="selectPortal('user')">Employee</button>
        <button class="full-width mb-3" mat-raised-button color="accent" (click)="selectPortal('manager')">Manager</button>
        <button class="full-width" mat-raised-button color="warn" (click)="selectPortal('admin')">Admin</button>
    </div>
</div>
