<div class="d-flex flex-column py-3">
    <div class="col-12 px-3 d-flex justify-content-between align-items-end">
        <div class="mat-title mb-0 px-3">Vacations</div>
        <mat-button-toggle-group #group="matButtonToggleGroup" hidden>
            <mat-button-toggle value="user" checked>User</mat-button-toggle>
            <mat-button-toggle value="project">Project</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="col-12 p-3">
        <ng-container *ngIf="group.value === 'user'">
            <table mat-table [dataSource]="vacationsByUser" multiTemplateDataRows class="mat-elevation-z8 mt-3">
                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef>User</th>
                    <td mat-cell width="1000" *matCellDef="let element">{{element.user}}</td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef>Start Date</th>
                    <td mat-cell width="500" *matCellDef="let element">{{element.startDate}}</td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef>End Date</th>
                    <td mat-cell width="500" *matCellDef="let element">{{element.endDate}}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell width="200" *matCellDef="let element">
                        {{element.approved ? 'Approved' : element.viewed ? 'Rejected' : 'Waiting Approval'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell width="300" *matCellDef="let element">
                        <mat-chip *ngIf="!element.approved" class="pointer" selected color="accent" (click)="accept(element)">Approve</mat-chip>
                        <mat-chip *ngIf="element.approved || !element.viewed" class="mx-3 pointer" selected color="warn" (click)="reject(element)">Reject</mat-chip>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="vacationByUserColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: vacationByUserColumns;"></tr>
            </table>
        </ng-container>
        <ng-container *ngIf="group.value === 'project'">
            <mat-accordion displayMode="flat" multi="true" *ngFor="let vacationInfo of vacationsByProject">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{vacationInfo.project}}
                        </mat-panel-title>
                        <mat-panel-description>
                            Type your name and age
                            <mat-icon>account_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

<!--                    <mat-form-field>-->
<!--                        <mat-label>First name</mat-label>-->
<!--                        <input matInput>-->
<!--                    </mat-form-field>-->

<!--                    <mat-form-field>-->
<!--                        <mat-label>Age</mat-label>-->
<!--                        <input matInput type="number" min="1">-->
<!--                    </mat-form-field>-->
                    <mat-action-row>
                        <!--            <button mat-button color="primary" (click)="nextStep()">Next</button>-->
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </div>
</div>
