<div class="d-flex py-3">
    <div class="col-4 px-3">
        <mat-selection-list multiple="false" (selectionChange)="selectCalendar($event)">
            <div class="mat-title">Locales</div>
            <mat-list-option *ngFor="let calendar of calendars; last as last" [value]="calendar">
                <div class="d-flex flex-grow-1 justify-content-between align-items-center">
                    <div mat-line>{{calendar.locale}}</div>
                    <button mat-icon-button color="warn" (click)="deleteCalendar(calendar)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <mat-divider *ngIf="!last"></mat-divider>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-form-field class="full-width" appearance="fill"  style="padding-top: 16px">
                <mat-label>Locale</mat-label>
                <input matInput type="text" #locale>
            </mat-form-field>
            <button class="full-width" mat-raised-button color="primary" (click)="addCalendar(locale.value); locale.value = ''">Add</button>
        </mat-selection-list>
    </div>
    <div class="col-4 px-3">
        <mat-calendar #calendar [dateClass]="dateClass()" [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>

    </div>
    <div class="col-4 px-3">
        <mat-list>
            <div class="mat-title">Holidays</div>
            <mat-list-item *ngFor="let holiday of holidays; last as last">
                <div class="d-flex flex-grow-1 justify-content-between align-items-center">
                    <div mat-line>{{(holiday.startDate | date: 'yyyy-MM-dd') + (holiday.transferDate? ' -> ' + (holiday.transferDate | date: 'yyyy-MM-dd'): '')}}</div>
                    <button mat-icon-button color="warn" (click)="deleteHoliday(holiday)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <mat-divider *ngIf="!last"></mat-divider>
            </mat-list-item>
            <button class="full-width" mat-raised-button color="primary" [disabled]="!selectedCalendar || !holiday.startDate" (click)="addHoliday();">Add</button>
        </mat-list>
    </div>
</div>

